.browser {
  color: var(--pale);
  border-radius: 7px;
  border: .5px solid;
  overflow: hidden;
  background: #fff;
  position: relative;

  &:not(.no-head):before {
    content: 'bibilet.ru';
    background: #fff;
    padding: 5px;
    text-align: center;
    display: block;
    border-bottom: .5px solid;

    @include on-md {
      padding: 3px;
    }
  }

  img {
    aspect-ratio: 1280/768;
    object-fit: contain;
    object-position: center;
  }
} 