.features {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: clamp(40px, 5vw, 100px);

  @media (max-width: 1100px) {
    grid-template-columns: 360px 1fr;
  }

  @include on-sm {
    flex-direction: column-reverse;
    display: flex;

    .switcher {
      position: sticky;
      top: 5px;
      width: calc(100% + 20px);
      margin-left: -10px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 20px;
        background: #fff;
        bottom: 100%;
        margin-bottom: -10px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-md);
  }
}

.feature {
  width: 100%;
  position: relative;
  isolation: isolate;

  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: -10px -15px;
    border-radius: 16px 16px 16px 0;
    z-index: -1;
    transition: .5s;

    @include on-sm {
      inset: -5px -10px;
    }
  }

  &.active:before {
    transition: .15s;
    background: var(--pale2);
  }
} 