.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 40px;
  margin-bottom: 20px;
  padding: 0 25px;

  @include on-sm {
    display: none;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
}
