Комментарии только при необходимости, не комментировать всё подряд.

Когда переносим текст из макета, всегда типографировать: расставлять неразрывные пробелы символами ( ), склеивать предлоги и союзы, использовать правильные тире и кавычки в русском языке: —, «».

# JS
Все переменные, в которые записываются ДОМ-элементы, начинаются с $. Например, $header, $footer.

