@import '_mixins';

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page {
  --cut-out: clamp(16px, 5vw, 55px); 
  padding: 60px 30px 100px;
  border-radius: 32px;
  min-height: 75vh;

  -webkit-mask: 
    radial-gradient(var(--cut-out) at 50% calc(var(--cut-out) * -.3), #0000 calc(100% - 1px), #000),
    radial-gradient(var(--cut-out) at 50% calc(100% - var(--cut-out) * -.3), #0000 calc(100% - 1px), #000),
    linear-gradient(black,black)
    ;
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;

    // background: linear-gradient(to bottom, hsl(0deg 0% 100% / 10%), transparent), linear-gradient(to top, hsl(0deg 0% 100% / 10%), transparent);
    // background-size: 100% 75vh;
    // background-position: top center, bottom center;
    // background-repeat: no-repeat;
    // background: oklch(0.82 0.35 145.75 / 0.1);
    background: #fff;

    @include on-sm {
      --cut-out: 25px;
      padding: 20px 15px 30px;
      background-size: 100% 300px;

      -webkit-mask: 
      radial-gradient(var(--cut-out) at 50% calc(var(--cut-out) * -.3), #0000 calc(100% - 1px), #000),
      radial-gradient(1px at 50% calc(100% - var(--cut-out) * -.3), #0000 calc(100% - 1px), #000),
      linear-gradient(black,black)
      ;
      -webkit-mask-composite: destination-in;
      mask-composite: exclude;
    }
}

.switcher {
  height: 100%;

  &__item {
    position: sticky;
    top: 15px;
    display: none;
    border-radius: 32px;
    background: linear-gradient(to bottom, #fff 90%, transparent);

    &.active {
      display: block;
    }
  }
}

.disabled {
  color: var(--pale);
}


.hr {
  height: 20px;
  margin: var(--gap-lg) 0;

  @include on-sm {
    margin: var(--gap-md) 0;
  }
}

.no-sm {
  @include on-sm {
    display: none !important;
  }
}