extends ../layouts/default.pug

block vars
  - const title = "Реквизиты и контакты. Бибилет"


block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет 
    h1 Реквизиты и контакты

    h3 Билетный оператор ООО «Бибилет»
    p ИНН #{inn}
    //- p КПП #{kpp}
    p ОГРН #{ogrn}

    h3 Юридический и физический адрес
    p Санкт-Петербург, 127015, <br>Набережная Фонтанки, 36, п. 32

    h3 Банк
    p АО Т-Банк, Москва
    p Р/c 40802810200001041515
    p К/с 30101810145250000974
    p БИК 044525974

    h3 Документы
    p: a(href="#") Карточка ООО
    p: a(href="#") ОГРН
    p: a(href="#") ИНН
    p: a(href="#") Решение о создании ООО
    p: a(href="#") Устав
    p: a(href="#") Уведомление УСН
    p: a(href="#") Приказ о вступлении в должность гендиректора
    p: a(href="#") Решение о продлении полномочий гендиректора 1 фев 2021
    p: a(href="#") Приказ о назначении главбуха
    p: a(href="#") Лист записи ЕГРЮЛ 11 дек 2014
    p: a(href="#") Лист записи ЕГРЮЛ 15 мар 2021
    p: a(href="#") Выписка из ЕГРЮЛ 23 апр 202