extends ../layouts/default.pug

block vars
  - const title = "Реквизиты и контакты. Бибилет"


block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет 
    h1 Реквизиты и контакты

    h3 Билетный оператор «Бибилет»
    p #{legal}
    p ИНН #{inn}
    p ОГРН #{ogrn}

    h3 Юридический и физический адрес
    p Таганрог, Ленинградская 46

    h3 Банк
    p АО Т-Банк, Москва
    p Р/c 40802810200001041515
    p К/с 30101810145250000974
    p БИК 044525974

    h3 Для связи
    p: a(href="mailto:privet@bibilet.ru") privet@bibilet.ru