extends ../layouts/default.pug

block vars
  - const title = "Шаблон договора. Бибилет"

block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет
    .textBox
      h1 Шаблон договора с «Бибилетом»
      
      p Шаблон скоро будет опубликован. 
      
      p Напишите на <a href="mailto:privet@bibilet.ru">privet@bibilet.ru</a>, если он нужен вам прямо сейчас.