extends ../layouts/default.pug

block vars
  - const title = "Реквизиты и контакты. Бибилет"


block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет     
    .textBox
      h1 Оплата и возврат
      h2 Оплата
      p Покупатель может оплатить заказ банковской картой на сайте bibilet.ru. Все расчёты обрабатываются через аккредитованных платёжных агентов (например, банки‑эквайеры). Оплата производится в рублях.
      p Право собственности на билет и обязательство Продавца передать билет Покупателю возникают после получения подтверждения оплаты. До этого момента заказ считается не заключённым.
      p Оператор не сохраняет полные данные банковской карты Покупателя (карты обрабатываются платёжным шлюзом). При оплате устанавливается защищённое соединение (SSL).
      p В случае технической ошибки оплаты заказ считается не состоявшимся, средства автоматически возвращаются. Покупатель уведомляется об этом на указанный e-mail.

      h2 Возврат
      p Добровольный возврат электронного билета допускается при условии, что до начала мероприятия осталось не менее 3 дней. В этом случае возвращается 90% стоимости билета.
      p Для оформления возврата Покупатель отправляет запрос на возврат на официальный e-mail (указывается на сайте). К заявлению прикладываются сведения о заказе (номер заказа, ФИО, контактный e-mail).
      p Возврат при отмене/переносе. Если мероприятие отменено или перенесено на другую дату, возврат денежных средств производится согласно решению Организатора события. При уведомлении об отмене/переносе Организатор обязан вернуть стоимость билетов Покупателю в сроки, установленные законодательством. В таких случаях «Бибилет» оказывает содействие Покупателю в возврате средств (по инструкции, размещённой на сайте).
      p При возврате по любой причине Покупателю возвращается только номинал билета за вычетом сервисного сбора «Бибилет». Сервисный сбор не возвращается. Стоимость услуг платёжной системы (если такие взимались) также не возвращается.

      p Денежные средства возвращаются Покупателю тем же способом, которым была проведена оплата, в течение 10 рабочих дней со дня одобрения возврата. При отмене/переносе мероприятия сроки могут быть другими (см. информацию организатора).

      p Возврат билетов, купленных через «Бибилет», невозможен по инициативе Покупателя менее чем за 3 дня до мероприятия, а также в иных случаях, если иное не предусмотрено законодательством или договорами с организаторами.