extends ../layouts/default.pug

block vars
  - const title = "Политика обработки данных. Бибилет"

block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет
    .textBox
      h1 Политика обработки персональных данных

      h3 Общие положения
      p #{legal} (далее — «Оператор») обязуется обеспечивать конфиденциальность и безопасность персональных данных Пользователей сервиса bibilet.ru. Настоящая политика определяет порядок сбора, обработки и защиты персональных данных в соответствии с Федеральным законом № 152-ФЗ «О персональных данных».

      h3 Сбор данных
      p  Оператор собирает и обрабатывает персональные данные Покупателей, необходимые для оформления заказа и оказания услуг: ФИО, контактные данные (телефон, e‑mail), платёжные реквизиты и т. п. Согласие на обработку даётся Покупателем при оформлении заказа.

      h3 Цели обработки
      p Персональные данные используются только для выполнения обязанностей по договору купли-продажи билетов (связь с Покупателем, направление электронных билетов, проведение оплаты) и для информационной рассылки (по желанию клиента).

      h3 Безопасность данных
      p Оператор принимает технические и организационные меры защиты персональных данных (шифрование, ограничение доступа, контроль и т.д.) согласно требованиям законодательства. Без согласия Покупателя данные не передаются третьим лицам, кроме случаев, предусмотренных законом (например, банковским организациям для обработки платежей).

      h3 Права субъекта ПД
      p Пользователь имеет право запросить информацию об обрабатываемых данных, требовать уточнения, блокировки или удаления своих персональных данных. Для этого необходимо обратиться в службу поддержки Оператора по e-mail или почтовому адресу, указанному на сайте.

      h3 Сроки обработки 
      p Персональные данные обрабатываются до достижения целей обработки и хранятся не дольше, чем требуется по закону или договору.

      h3 Изменения политики
      p Оператор вправе изменять условия Политики. Актуальная версия всегда доступна на сайте bibilet.ru. Продолжение использования сайта после изменений означает согласие Пользователя с новой редакцией.