extends ../layouts/default.pug

block vars
  - const title = "Правила использования. Бибилет"

block content
  .wrap.page
    a.breadcrumbs(href="/") ← Бибилет 
    .textBox
      h1 Правила использования сервиса «Бибилет», пользовательское соглашение
      h3 Регистрация и доступ
      p Для покупки билетов Покупателю не требуется обязательная регистрация, но если создаётся личный кабинет, Пользователь самостоятельно отвечает за конфиденциальность своих логина и пароля.

      h3 Использование сайта
      p Пользователь обязуется использовать сайт bibilet.ru только для законной покупки билетов. Запрещено вводить ложные данные, совершать действия, нарушающие права третьих лиц или действующее законодательство.
      h3 Ответственность пользователя
      p Пользователь несёт ответственность за сохранность электронной почты и телефона, указанных при заказе — эти контактные данные используются для связи и доставки билетов. Если билет был отправлен по указанным контактам, Оператор ответственность за доставку выполнил.
      h3 Интеллектуальная собственность
      p Все элементы дизайна, контент сайта, программный код являются собственностью «Бибилета» или используются с разрешения правообладателей. Пользователь не вправе копировать или использовать материалы сайта без согласия правообладателей.
      h3 Отказ от гарантии
      p Оператор не гарантирует бесперебойную работу сайта и корректное отображение контента на всех устройствах и браузерах. Оператор не несёт ответственности за сбои платёжных систем и сторонних сервисов (банк, почта, SMS).
      h3 Разрешение споров
      p Все споры по настоящему соглашению разрешаются путём переговоров, а при недостижении соглашения — в суде по месту регистрации «Бибилет» (ст. 29 ГК РФ).
      h3 Прочие условия
      p Продолжение использования сайта после публикации изменений означает согласие Пользователя с новым текстом соглашения. Если какое‑либо положение соглашения признаётся недействительным, остальные положения сохраняют силу.