mixin cta
  .cta
    .cta__try
      .cta__tryText
        h2.h1 Попробовать Бибилет
        p Оставьте контакты, мы встретимся, познакомимся, зададим вопросы о площадке и предложим варианты подключения.
        p Дадим время подумать. Если всё устроит, подпишем договор.
        p Вы начнёте получать деньги, а мы будем на связи по любым вопросам.

      +form

    +faq

