mixin faq
  .faq.sm
    .faq__item 
      h3 Что если не понравится?
      p Вы можете отказаться от Бибилета без объяснения причин. Мы бесплатно вернём всё как было.

    .faq__item
      h3 Что если уже есть билетный оператор?
      p Мы умеем подключаться постепенно, чтобы не ломать процессы. Конкретный план обсуждается при знакомстве.

    .faq__item
      h3 Как устроены выплаты?
      p В начале месяца вы получаете деньги за прошедший месяц на Р/С организации, за вычетом комиссии Бибилета.
      p При больших объёмах продаж, возможны индивидуальные условия и график платежей.

    .faq__item
      h3 Как проверять билеты на входе?
      p Для проверки билета нужен смартфон с камерой и доступом в интернет. Приложения устанавливать не нужно.

    .faq__item
      h3 Как устроен возврат билетов?
      p Покупатель может вернуть билет через личный кабинет или поддержку не позднее 24 часов до события. 
      p Площадка может вернуть билеты покупателям в любой момент.
      p Временные рамки и условия возврата могут меняться индивидуально для площадки.