mixin footer
  footer.footer.sm.wrap
    .footer__about
      div 
        p Билетный оператор<br> «Бибилет»
        p: a(href="privet@bibilet.ru") privet@bibilet.ru

      div 
        p Санкт-Петербург, <br>Красноармейская 12-я улица, 18-20
        p: a(href="/about") Реквизиты

    nav.footer__nav
      a(href="/offer") Публичная оферта
      a(href="/rules") Правила использования
      //- a(href="/dog") Шаблон договора
      a(href="/pay-and-refund") Оплата и возврат
      a(href="/privacy") Политика обработки данных

      //- span.disabled Документация для разработчиков

  


