mixin footer
  footer.footer.sm
    .footer__about
      div 
        p Билетный оператор<br> ООО «Бибилет»
        p: a(href="privet@bibilet.ru") privet@bibilet.ru

      div 
        p Санкт-Петербург, 127015, <br>Набережная реки Фонтанки, 36, стр. 1, п. 32
        p: a(href="/about") Реквизиты

    nav.footer__nav
      a(href="/offer") Публичная оферта
      a(href="/rules") Правила использования
      a(href="/privacy") Политика конфиденциальности
      a(href="/dog") Шаблон договора
      a(href="/pay-and-refund") Оплата и возврат
      a(href="/docs") Документация для разработчиков

  


