mixin form
  form.form.lg.js-form
    .form__in
      .input
        input(type="text" placeholder="Телефон или почта" name="contact" required)
      button.btn(type="submit")
        span Отправить
        .spinner
    .form__success
      p Принято. Мы скоро с вами свяжемся