mixin header
  header.header.wrap.sm
    .header__left Билетный оператор ООО «Бибилет», ИНН #{inn}
    nav.header__nav
      a(href="https://lk.bibilet.ru") Вход для клиентов
      a(href="mailto:privet@bibilet.ru") Техподдержка
      span.disabled Разработчикам 
