mixin header
  header.header.wrap.sm
    .header__left Билетный оператор «Бибилет»<span class="no-sm">, ИНН #{inn}</span>
    nav.header__nav
      a(href="https://lk.bibilet.ru") Вход для клиентов
      a(href="mailto:privet@bibilet.ru") Техподдержка
      //- span.disabled Разработчикам 
