include ../components/_mixins.pug

doctype html
html
  block vars
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width")
  title=title || defaultTitle
  meta(name="description" content=desc || defaultDesc)

  link(rel="stylesheet" href="/src/styles/_index.scss")

body
  +header
  block content

  +footer

  script(src="/src/scripts/_index.js" type="module")
