include ../components/_mixins.pug

doctype html
html(lang="ru")
  block vars
  include parts/meta.pug

body
  +header
  block content

  +footer

  script(src="/src/scripts/_index.js" type="module")

  include parts/metrika.pug
